@import "tailwindcss";

.btn-gradient {
  background: linear-gradient(90deg, #2563eb, #1d4ed8);
  background-size: 200% auto;
  transition: background-position 0.4s;
}
.btn-gradient:hover {
  background-position: right center;
}
